<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
<!DOCTYPE  html>
<html lang="zh-cn">
<head>
  <head>
  <meta charset="UTF-8">
  <title>Node的个人博客</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="description" content="Node的个人博客,分享Node,js技术,不忘初心,共同成长">
  <meta name="keywords" content="Node,Node.js,Node的博客，Node.js技术">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  </head>
  </head>
  <body>
  <header>
    <hl>Node的个人博客</hl>
  </header>
<section class="main floatfix">
  <aside>
    <section class="main-aside-avatar">
      <img src="img/avatar.jpg" alt="">
    </section>
  <ul>
    <li><a href="">撰写文章</a></li>
    <li><a href="">关于博客</a></li>
    <li><a href="">友情链接</a></li>
    <li><a href="">登出博客</a></li>
     </ul>
  </aside>
   <section class="main-articles">
      <ul>
         <% for(var  i= 0; i < articles.length; i++) {%>
        <li class="main-articles-item">
          <h2><a href=""><%= articles[i].articleTitle %></a></h2>
          <section class="main-articles-items-des">
            <p><span>作者: <%= articles[i].articleAuthor %></span><span>发布时间: <%=articles[i].articleTime %></span><span>浏览量：<%= artcles[i].articleClick
              %></span></p>
          </section>
  <section>
    <footer>
      <p>Copyright  c 2016 Node</p>
      <p>Powered by Express</p>
  </footer>
  </body>
  </html>
            
</html>
